/* style.css */

/* General reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
  }
  
  /* Navigation styles */
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo img {
    height: 40px; /* Adjust as needed */
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffcc00; /* Yellow color on hover */
  }
  
  /* Section styles */
  section {
    padding: 20px;
  }
  
  .sec1 {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sec1 p {
    line-height: 1.8;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav .logo {
      margin-bottom: 10px;
    }
  
    nav ul {
      margin-top: 10px;
    }
    
  
    nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  