*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.main{
    border: 2px solid red;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 450px;
    top: 120px;
}
.container{
    border: 2px solid blue;
    height: 450px;
    width: 450px;
    background-color: black;
    
}
img1{
    position: relative;
    left: 101px;
    top: 50px;
    background-image: url(./bulb1.png);
    background-size: cover;
     filter: drop-shadow(0px 0px 20px yellow) ; 

}
img1{
    position: relative;
    left: 450px;
    top: 50px;
    /* background-image: url(./bulb2.png); */
    background-size: cover;
    filter: drop-shadow(0px 0px 20px yellow) ;
}
button{
    position: relative;
    top: 60px;
}